
#signit_statistics {
  border:           1px solid #999999;
  font-style:       italic;
  margin-bottom:    5px;
  padding:          3px 0px 3px 0px;
  text-align:       center;
  width:            640px;
}

#signit_appeal {
  padding:          5px 5px 5px 5px;
  border:           1px solid red;
}

#signit_body {
  background-color: #e1e1e1;
  font-weight:      bold;
  margin:           5px 5px 5px 5px;
  padding:          5px 5px 5px 5px;
}

#signit_signup_form {
  border:           1px solid #999999;
  padding:          5px 5px 5px 5px;
}

#signit_signup_form .form-text {
  width:            95%;
}

#signit_group #signit_signup_form {
  border:           none;
  border-right:     1px dotted #c61f31;
  float:            left;
  padding:          0;
  width:            55%;
}

#signit_group #signit_personal {
  background-color: #f3f3f3;
  border:           1px solid #c61f31;
  float:            right;
  margin-bottom:    10px;
  padding:          8px;
  width:            40%;
}

.trend_positive {
  color:            green;
  font-weight:      bold;
}

.trend_negative {
  color:            red;
  font-weight:      bold;
}

.block-signit, .block-signit div, .block-signit > div {
  display: inline;
}
